<section class="page-section bg-dark text-white" id="home-contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
            <h4 class="text-uppercase mb-4 text-left"><b>About Company</b></h4>
            <p class="lead mb-4">To create an extraordinary impact through innovative and creative thinking, NyKinSky is an India Based management consulting firms. IT has a team of inspired people driven by a passion for results.</p>
            
            <div class="social-icons"><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a></div>
        </div>
      
        <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4 text-left"><b>Contact</b></h4>
            <p class="lead mb-1"><i class="fas fa-map-marker-alt"></i> NyKinSky
              Delhi, <br />Delhi 110037, IN</p>
            <p class="lead mb-1"><i class="far fa-envelope-open"></i> 	info@nykinsky.com</p>
            <p class="lead mb-0"><i class="fas fa-mobile"></i> 8002960001</p>
            <p class="lead mb-0"><i class="fas fa-globe"></i>www.nykinsky.com</p>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="bg-light py-4">
      <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Designed and Developed by NyKinSky
      </div></div>
  </footer>
