<mat-radio-group>
<ng-template #container>

</ng-template>
</mat-radio-group>
<!--style="pointer-events: none;opacity: 0.3;"-->
<!--app-multichoice-option (click)="addOption()"></app-multichoice-option-->
<div class="custom-control custom-checkbox" style="margin-bottom: 2%;">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="multiple-choice">
                <mat-radio-button disabled></mat-radio-button>
            </div>
            <div class="editor">
                <div class="add-Option" (click)="addOption(false)">
                    <div class="center">Add Options</div> 
                </div>
            </div>
        </div>
    </div>
</div>



