@media (min-width: 568px) {
    .container-3{
        display: flex;
        flex-wrap: wrap;
    }
}


.container-3{
    //border: 1px #ccc solid;
    padding: 5px;
}



/* Share Test Model*/
.modal-dialog-full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width:none !important;

}

.modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important 
}

.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
    border-top: 1px solid #9ea2a2 !important;
}
