<ng-template #container>

</ng-template>
<!--app-checkbox-option (click)="addOption()" style="pointer-events: none;opacity: 0.3;"></app-checkbox-option-->
<div class="custom-control custom-checkbox" style="margin-bottom: 2%;">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="checkbox">
                <mat-checkbox disabled></mat-checkbox>
            </div>
            <div class="editor">
                <div class="add-Option" (click)="addOption(false)">
                    <div class="center">Add Options</div> 
                </div>
            </div>
        </div>
    </div>
</div>