
        <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h2 class="text-uppercase text-white font-weight-bold">Your Favorite Digital Solution<br> For Assessments</h2>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">
                          Shift Your Hiring And Assessment Process To Virtual Mode. Use Our Digital Solution For Smoothly Conducting Assessments.
                        </p>
                        <a class="btn btn-primary btn-xl" fragment="home-about" (click)="navigateToSection('home-about')">Find Out More</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About at Home-->
        <section class="page-section bg-primary" id="home-about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">We've got what you need!</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white-50 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <a class="btn btn-light btn-xl" [routerLink]="['/register']">Get Started!</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services at Home-->
        <section class="page-section" id="home-services">
            <div class="container">
                <h2 class="text-center mt-0">At Your Service</h2>
                <hr class="divider my-4" />
                <div class="row">

                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x  fa-key text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Secure</h3>
                            <p class="text-muted mb-0">Your and your candidates' data is stored encrypted and safeguared by our security features.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Up to Date</h3>
                            <p class="text-muted mb-0">Up to date questions in test libraries, advanced features for test creation</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Ready to use</h3>
                            <p class="text-muted mb-0">User friendly interface, easy to use. Share test links, orgainze tests and view reports easily at this stand-alone platform.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Made with Love</h3>
                            <p class="text-muted mb-0">Made with utmost care and concern by our NyKinSky team to provide you the best services</p>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                <h2 class="text-center mt-0">Services</h2>
                <hr class="divider my-4" />
      
                <div class="row">   
                  <div class="col-md-6 mx-auto my-5">            
                    <!-- Card -->
                    <div class="card card-image" style="background-image:  linear-gradient(to bottom, rgba(38, 28, 82, 0.747) 0%, rgba(39, 16, 75, 0.637) 100%), url(../../assets/images/bg-frontcard.jpg);">
                    <!-- Content -->
                      <div class="text-white text-center d-flex align-items-center  py-5 px-4">
                        <div>
                          <h5 class="pink-text"><i class="fas fa fa-laptop"></i> Create Assessment</h5>
                          <h3 class="card-title pt-2"><strong>Create your own test</strong></h3>
                          <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia</strong> </p>
                          <a class="btn "><i class="fas fa-clone left"></i> Know More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-md-6 mx-auto my-5">
                    <div class="card card-image" style="background-image:  linear-gradient(to bottom, rgba(40, 28, 82, 0.747) 0%, rgba(39, 16, 75, 0.637) 100%), url(../../assets/images/bg-frontcard.jpg);">
                      <!-- Content -->
                      <div class="text-white text-center d-flex align-items-center py-5 px-4">
                        <div>
                          <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Ready Made Assesments</h5>
                          <h3 class="card-title pt-2"><strong>Choose from our test library</strong></h3>
                          <p><b>CLorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                              optio vero odio nam sit</b></p>
                          <a class="btn "><i class="fas fa-clone left"></i> Know More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <hr>
                <br>
                <!--Test Libraries Overview--->
                <h2 class="text-center mt-0">Our Test Library</h2>
                <hr class="divider my-4" />
                  <div class = "row">
                    <div class="row row-cols-1 row-cols-md-3">
                      <div class="col mb-4">
                        <!-- Card -->
                        <div class="card">
                          <!--Card image-->
                          <div class="view overlay">
                            <img class="card-img-top" src="../../assets/images/bg-frontcard.jpg" alt="Card image cap">
                            <a href="#!">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>
                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Test title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button type="button" class="btn btn-light-blue btn-md">Read more</button>
                          </div>
                        </div>
                      </div>

                      <div class="col mb-4">
                        <!-- Card -->
                        <div class="card">
                          <!--Card image-->
                          <div class="view overlay">
                            <img class="card-img-top" src="../../assets/images/bg-frontcard.jpg"
                            alt="Card image cap">
                            <a href="#!">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>
                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Test title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button type="button" class="btn btn-light-blue btn-md">Read more</button>
                          </div>
                        </div>
                      </div>
                      <div class="col mb-4">
                        <!-- Card -->
                        <div class="card">
                          <!--Card image-->
                          <div class="view overlay">
                            <img class="card-img-top" src="../../assets/images/bg-frontcard.jpg"
                            alt="Card image cap">
                            <a href="#!">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>
                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Test title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button type="button" class="btn btn-light-blue btn-md">Read more</button>
                          </div>
                        </div>
                      </div>        
                    </div>
                  </div>
              </div>
            </section>
