<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2">Reset password</h1>
                    <p class="lead">
                        Enter your email to reset your password.
                    </p>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form (ngSubmit)="onSubmit(passwordform)" [formGroup]="passwordform">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control form-control-lg" type="email"  placeholder="Enter your email" formControlName="email" [ngClass]="{'is-invalid':
                                    passwordform.get('email').touched && passwordform.get('email').invalid || noUserExist}">
                                    <div class="invalid-feedback"><p *ngIf="!noUserExist">Enter official email</p>
                                        <p *ngIf="noUserExist">No user exist!</p>
                                      </div>
                                </div>
                                <div class="text-center mt-3">
                                    
                                    <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="!passwordform.valid" >Reset Password</button> <!-- <button type="submit" class="btn btn-lg btn-primary">Reset password</button> -->
                                </div>
                                <div class="mt-4">
                                    <div class="d-flex justify-content-center links">
                                        Remember password? <a [routerLink]="['/login']"  class="ml-2">Login</a>
                                    </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>