<div  id="wrapper" >
    <div id="dialog">
      <h3 style="  margin: 0 0 10px; padding: 0;line-height: 1.25;">Please enter the 6-digit verification code we sent via Email:</h3>
      <span style="color: red;" *ngIf="isotperror">Wrong One time password</span>
      <form  (ngSubmit)="onSubmit(form)" [formGroup]="form" id="form1" >
        
        <div style="display:flex;justify-content: space-between;">
          <div class="form-group col-sm-2" *ngFor="let input of formInput;  index as i" style="float: left;">
            <div>
              <input #formRow type="text" formControlName="{{input}}" class="form-control" maxlength="1" (keyup)="keyUpEvent($event, i)" style="width:37px;">
            </div>
          </div>

          </div>
        <button class="btn btn-primary btn-embossed" >Verify</button>
        </form>
      
      <div>
        Didn't receive the code?<br />
        <a (click)="sendotpagain()" style="color: blue;">Send code again</a><br />
  </div>
</div>


