<div class="container mt-5">
    <h2>Sample Page Link</h2>
    <hr>
    <div class="list-group">
        <a routerLink = "login" class="list-group-item list-group-item-action" style="width: 500px;"><strong>Login Page</strong> </a>
        <a routerLink = "register" class="list-group-item list-group-item-action" style="width: 500px;"><strong>SignUp Page</strong></a>
        <a routerLink = "reset-password" class="list-group-item list-group-item-action" style="width: 500px;"><strong>Reset Password</strong></a>
        <a routerLink = "otp-verification" class="list-group-item list-group-item-action" style="width: 500px;"><strong>OTP Varification</strong> </a>
        <a routerLink = "password-forgot-otp" class="list-group-item list-group-item-action" style="width: 500px;"><strong>Forget Password OTP</strong></a>
        <a routerLink = "test-page" class="list-group-item list-group-item-action" style="width: 500px;"><strong>Add/View Test</strong></a>
        <a routerLink = "reg-candidate" class="list-group-item list-group-item-action" style="width: 500px;"><strong>Register Candidate</strong></a>
        <a routerLink = "test-instruction/:examId/:candidateId" class="list-group-item list-group-item-action" style="width: 500px;"><strong>Test Instruction</strong></a>
        <a routerLink = "test-execute" class="list-group-item list-group-item-action" style="width: 500px;"><strong>Test Execute</strong></a>
        <a routerLink = "test-thankyou" class="list-group-item list-group-item-action" style="width: 500px;"><strong>Test Thankyou</strong></a>
        <a routerLink = "test-build" class="list-group-item list-group-item-action" style="width: 500px;"><strong>Custom Test Create </strong></a>
        <a routerLink = "excel-upload" class="list-group-item list-group-item-action" style="width: 500px;"><strong>Excel upload </strong></a>
        <a routerLink = "test-results" class="list-group-item list-group-item-action" style="width: 500px;"><strong>Test Result </strong></a>
        <a routerLink = "home" class="list-group-item list-group-item-action" style="width: 500px;"><strong>Home/Welcome Page </strong></a>
    </div>
  </div>
