.progress-bar, .progress {
    height: 20px !important;
    // background-color: blue;
    // color: burlywood;
  }

  .main{
    margin: 10px;
  }

  .card-view{
      margin: 5px 0px 5px 0px;
  }

  #footer {
    position:absolute;
    bottom:0;
    width: 90%;
    justify-content: center;
    align-items: center;
    
   
  }