.container-fluid {
  background-color: lightskyblue;
}
.row {
  padding: 2px;
  height: max-content;
}

.col-lg-3 {
  background-color: lightskyblue;
}

.col-lg-2 {
  background-color: lightskyblue;
  padding-left: 0px;
  padding-right: 0px;
}

.col-lg-7 {
  background-color: lightskyblue;
}
