
  <app-home-navbar></app-home-navbar>
  <!-- Masthead-->
  <header class="h-40" style="background:  linear-gradient(to bottom, rgb(0, 28, 68) 0%, rgba(97, 205, 219, 0.664) 100%)">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
              <br>
              <br>
              <br>
              <br>
                <h2 class="text-uppercase text-white ">Your Favorite Digital Solution<br> For Assessments</h2>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
</header>
<br>
<div class="container text-left">
  <h1 class=" mt-4 mb-4">ABOUT US</h1>
  <div class = "row">
      <div class="col">
        <p class="text-muted mb-0">
          We are one of the India Based management consulting firms, where innovative and creative thinking, inspired people and a passion for results come together for extraordinary impact.
          <br>
          <br>
    Our Initial target are initial Small Enterprises, Start Up’s and growing organization have considered for Growth in their filed. We are Providing a Complete Dedicated Team and Providing solution of their all needs and aspect like Human Resource forecasting, Initial Finance management and capital management, Information Technology Related issue. 
    We are also conducting Business Research and Market Research in Different sectors like Education, Hospitality, e-commerce and digital marketing aspects.
          <br>
          <br>
    In this current scenario, Human Resource Management and forecasting is a very challenging job for any organization. We provide a great and outstanding solution which can make organisation a future balanced organisation. In the age of globalization and industrial revolution 4.0 we are working to be a future ready organization for all the small and medium enterprises.
          <br>
          <br>
    Our Team are most innovative young and dynamic who work with you like understanding your organisation as their.
          </p>
      </div>  
  </div>
  </div>
  <br>
  <br>
  <br>
  <app-home-footer></app-home-footer>
  