<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2">Reset password</h1>
                    <p class="lead">
                        Enter your email to reset your password.
                    </p>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form (ngSubmit)="onSubmit(passwordform)" [formGroup]="passwordform">
                                <div class="form-group">
                                    <label class="text-center">Enter new Password</label>
                                    <input type="password" class="form-control mb-4" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="password" [ngClass]="{'is-invalid':
           passwordform.get('password').touched && passwordform.get('password').invalid}">
            <div class="invalid-feedback"><p>Min password length should be 8 <br/>
                It should  contain one upper case letter <br/>
                It should  contain one upper case letter
            </p></div>
            <input type="password" class="form-control" placeholder="Confirm Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="confirmPassword" [ngClass]="{'is-invalid':
            passwordform.get('confirmPassword').touched && passwordform.get('confirmPassword').invalid || (passwordform.get('confirmPassword').touched && passwordform.get('confirmPassword').errors && 
           passwordform.get('confirmPassword').errors.ConfirmPassword) }">
            <div class="invalid-feedback" ><p>Confirm password should match</p></div>
       
                                </div>
                                <div class="text-center mt-3">
                                    
                                    <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="!passwordform.valid" >Reset Password</button> <!-- <button type="submit" class="btn btn-lg btn-primary">Reset password</button> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>