<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a style="color:#007bff;" (click)="goToTests()">Library</a></li>
        <li class="breadcrumb-item active">Details</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 left-panel px=0">
            <div class="row">
                <h1 class="heading-text">
                    <strong> Personality Development Test - Assess key personality traits for
                        Hiring
                    </strong>
                </h1>
                <div class="description initialized reveal" id="productLongDescription"
                    style="max-height: none; transition: none 0s ease 0s;">
                    <div class="copy__inner">
                        <p dir="ltr" style="text-align:justify">The Mettl Personality Profiler measures an individual’s
                            strengths and growth opportunities based on underlying personality traits and workstyle
                            preferences, and aid in understanding what behaviors a candidate is likely to engage in as a
                            result of their preferences and predispositions. &nbsp;It can be used in combination with
                            other tools to provide a more holistic understanding of the individual’s
                            pre-dispositions,&nbsp;as well as behavioral manifestations at the workplace.</p>

                        <h3 dir="ltr" style="text-align:justify"><strong>Use this test for:</strong></h3>

                        <p dir="ltr" style="text-align:justify">While it can be used as a filtration tool, it can also
                            be used as key input into critical HR decisions such as:</p>

                        <ol dir="ltr">
                            <li>Learning and Development - understand the current proficiency level of employee; train
                                and develop employees effectively</li>
                            <li style="text-align:justify">Identification of High Potential - have a healthy pipeline of
                                future leaders</li>
                            <li style="text-align:justify">Succession Planning - fast-track high potential to retain
                                them</li>
                        </ol>
                    </div>
                    <div class="copy__gradient"></div>
                </div>
            </div>
            <div class="discription">
                <h2>
                    Test Details
                </h2>
                <table class="table table-hover">
                    <thead>
                        <!--tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr-->
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Number Of Questions</th>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th scope="row">Test Duration</th>
                            <td>50 min</td>
                        </tr>
                        <tr>
                            <th scope="row">Test Language</th>
                            <td colspan="2">English</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="description">
                <h2>
                    How it works:
                </h2>
                <div class="row">
                    <div class="text-center col-sm-3 col-xs-6">
                        <h6 class="font-bold">
                            step 1</h6>
                        <div class="circle">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <!--img src="https://prelogin/resources/images/PBT-how-it-works1.png?v=58.1.1" alt="Mettl-PBT-1"-->
                        </div>
                        <p>
                            Add this test to your tests
                        </p>
                    </div>
                    <div class="text-center col-sm-3 col-xs-6">
                        <h6 class="font-bold">
                            step 2</h6>
                        <div class="circle">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                            <!--img src="https://prelogin/resources/images/PBT-how-it-works2.png?v=58.1.1" alt="Mettl-PBT-2"-->
                        </div>
                        <p>
                            Share test link from your tests
                        </p>
                    </div>
                    <div class="text-center col-sm-3 col-xs-6">
                        <h6 class="font-bold">
                            step 3</h6>
                        <div class="circle">
                            <!--img src="https://prelogin/resources/images/PBT-how-it-works3.png?v=58.1.1" alt="Mettl-PBT-3"-->
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                        </div>
                        <p>
                            Candidate take the tests
                        </p>
                    </div>
                    <div class="text-center col-sm-3 col-xs-6">
                        <h6 class="font-bold">
                            step 4</h6>
                        <div class="circle">
                            <!--img src="https://prelogin/resources/images/PBT-how-it-works4.png?v=58.1.1" alt="Mettl-PBT-4"-->
                            <i class="fa fa-file" aria-hidden="true"></i>
                        </div>
                        <p>
                            You get their tests report
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 right-panel">
            <button style="width: 100%;" mdbBtn type="button" color="warn" (click)="importTest()" mdbWavesEffect>
                <i class='fas fa-crown'></i> Use This Test
            </button>
        </div>
    </div>
</div>